# Get Weather Data
Import and transform weather data.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# import libraries needed for upload / download to AWS
import boto3
import awswrangler
# set name of S3 bucket
s3_bucket = 'traffic-data-bucket'

## 1. Create Boto3 session
Start by creating a boto3 session so that we can connect to the S3 bucket.

In [2]:
from aws_secrets import aws_access_key_id, aws_secret_access_key, aws_session_token

my_session = boto3.Session(
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
    aws_session_token = aws_session_token

)

In [3]:
weather_df = awswrangler.s3.read_csv(path=f"s3://{s3_bucket}/weather/LA_weather_data.csv", boto3_session=my_session)

In [4]:
#convert to panda date time
weather_df = weather_df.assign(DATE=pd.to_datetime(weather_df.DATE, format='%Y-%m-%d'))
weather_df.sample(5)

,STATION,NAME,DATE,AWND,PRCP,TAVG,TMAX,TMIN,WDF2
1117,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2017-01-22,11.41,2.94,53,57.0,50.0,80.0
1688,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2018-08-16,7.61,0.00,75,81.0,72.0,250.0
2086,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2019-09-18,7.61,0.00,72,78.0,65.0,270.0
703,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2015-12-05,5.82,0.00,61,74.0,50.0,280.0
1197,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2017-04-12,10.74,0.00,60,68.0,53.0,260.0

In [5]:
weather_df.columns = [each_string.lower() for each_string in weather_df.columns]

In [6]:
weather_df.sample(3)

,station,name,date,awnd,prcp,tavg,tmax,tmin,wdf2
1765,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2018-11-01,6.71,0.0,67,81.0,57.0,270.0
327,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2014-11-24,4.47,0.0,67,79.0,56.0,220.0
3128,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2022-07-26,NaN,0.0,67,75.0,63.0,NaN

## 2. Save final data
### 2.1 Upload to S3

In [ ]:
# upload to root of S3 Bucket
awswrangler.s3.to_csv(df=weather_df, path = f"s3://{s3_bucket}/weather/LA_weather_data_updated.csv", index=False,
                       boto3_session=my_session, use_threads=True
                       )

### 2.2 Store local copy of sample data

In [ ]:
joined_df4.to_csv(root / 'X.data' / 'weather' / 'LA_weather_data_updated.csv', index = False )